* {
    box-sizing: border-box;
}

.header {
    background-color: #f1f1f1;
    text-align: center;
}
.main-header {
    color: black;
}
.main-header:hover {
    color: black;
}

.topnav {
    position: relative;
    overflow: hidden;
    background-color: #565656;
}
.topnav div {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.topnav a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.column {
    float: left;
    padding: 10px;
}

.column.side {
    width: 15%;
}

.column.middle {
    width: 70%;
}

.body-row {
    position: relative;
    top: 100px;
    bottom: 0;
    margin-bottom: 100px;
}

.body-row:after {
    content: "";
    display: table;
    clear: both;
}

.footer {
    padding: 10px;
    text-align: center;
    position: relative;
    top: 150px;
}

